*.mp4 filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.movgit filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
*.webmgit filter=lfs diff=lfs merge=lfs -text
*.zipgit filter=lfs diff=lfs merge=lfs -text
